* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    margin: auto;
    height: 100vh;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.md>textarea,
.html>textarea {
    width: 95%;
    height: 95%;
    margin: auto;
    padding: 5px;
}

.md,
.html {
    width: 45%;
    height: 100%;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
}


.html {
    background-color: lightgreen;
    position: relative;
}

.convert {
    width: 8%;
    height: 40px;
}

.toggle-view {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}