* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colors */
.grey-color {
    background-color: lightslategray;
}

.card-text {
    min-height: 720px;
    width: 100%;
    height: 95%;
    margin: 0;

}

.html-data {
    display: none;
}

.card-text-half {
    height: 45%;
    min-height: 400px;
    width: 100%;
}

.html_css {
    display: none;
}

/* .container-class {
    display: flex;
    margin: auto;
    height: 100vh;
    padding: 10px;
    justify-content: space-between;
    background-color: aquamarine;
    align-items: center;
}

.md>textarea,
.html>textarea {
    width: 95%;
    height: 95%;
    margin: auto;
    padding: 5px;
}

.md,
.html {
    width: 45%;
    height: 100%;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
}


.html {
    background-color: lightgreen;
    position: relative;
}

.convert {
    width: 8%;
    height: 40px;
}

.toggle-view {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .container{
        flex-direction: column;
        margin: 0;
        height: 200vh;
    }
    .md, .html{
        width: 95%;
    }
    .convert{
        margin: 10px auto;
    }
}
 */